<div class="responsive col-lg-2 col-md-2 col-sm-2 col-xs-">
  <img class="img-responsive" src="http://placehold.it/200x200">
  <h4><%= student.first_name %> <%= student.last_name %></h4>
  <h5><%= student.year %></h5>
</div>