<% layout('layout') -%>
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About the Burning Magnetos<small> Come DANCE WITH US!</small></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="images/team1.jpg">
    </div>
    <div class="col-md-6">
      <h2>Who is <a href="http://www.usfirst.org/"><em>FIRST</em></a> Team 342?</h2>
      <p class="post-content">FIRST Team 342, founded by Mike Bryan of Robert Bosch in North Charleston, SC, has competed in the FRC since 2000. The team has grown over the years and so has its support. FIRST FRC Robotic team, established as a partnership between local high schools, home schools, private schools, college, local government, state government, federal government, industries, and local businesses such as Trident Technical College, Dorchester County Council, Dorchester County Career School, South Carolina State Department of Education, BAE Systems, SPAWAR and the Robert Bosch Corporation.
      
The other local schools supported by Team 342 and involved in FIRST FRC are  Summerville HS, Ashley Ridge HS, Woodland HS, Dorchester Career School, Cane Bay HS, West Ashley HS, Home School, Dorchester Academy, Garrett Academy, Military Magnet, Northside Christian School, Cathedral Academy and Pinewood Preparatory School.  The team has more female members and mentors than in the past as well as representation from various ethnicities. True to the vision of FIRST Team 342 also involves special needs students in making promotional material for the team and even being members on the team.

Team 342 is located in North Charleston, SC and has close to forty members from the three counties. The team is comprised of sub-teams such as mechanical engineering, electrical engineering, controls, animation, inventor, and communications. Sub-teams either meet at the Robert Bosch manufacturing plant or at BAE Systems, both located in North Charleston. Employees from Bosch, BAE Systems, SPAWAR Systems Center Atlantic and and other local busineses serve as mentors for the team. More information on each sub team can be found below. We will continue to push towards inclusion of all races, gender, and abilities as we continue to share FIRST's message with our community.</p>
    </div>

  <div class="row">

    <div class="col-md-12">
      <h2>What is <a href="http://www.usfirst.org/"><em>FIRST</em></a>?</h2>
      <p>For Inspiration and Recognition of Science &amp; Technology (FIRST) is a non-profit organization founded in 1989 by inventor and entrepreneur Dean Kamen to interest and inspire students in mathematics, science and technology. Since then, FIRST has existed with an imperative, singular focus: to excite more young people about the fun, accessibility, and importance of science and engineering.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>What is the <a href="http://www.usfirst.org/"><em>FIRST</em></a> Robotics Competition?</h2>
      <p class="post-content">The First Robotics Competition is an annual design contest organized by FIRST that brings professionals and young people together in teams to solve an engineering design problem in an intense and competitive way. Early in January the rules for the new competition season are presented and posted on the Internet. Each team of students &amp; professionals has just 6 weeks to study the rules, brainstorm, design, fabricate, assemble test, debug and finally ship their robot. It's a very challenging, stressful, fun &amp; educational six weeks.

The team then competes regionals and/or the national competitions. This year's national competition will be held in St. Louis, Missouri. Some have described it as "the Olympics of Technology." In addition to the actual robotic contests there are different awards (lightest, best looking, most innovative feature, etc.) and many college scholarships are awarded to qualified students. Opening or closing ceremonies usually include speakers such as governors, NASA Administrators or Nobel prize winners. It is truly an awe-inspiring event.</p>
    </div>
  </div>
</div>
<div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Awards</h2>
            </div>
            
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2013</h2>
                </div>
                <div>
                	<ul>
                		<li>Palmetto Regional Safety Award</li>
                	</ul>
                </div>
            </div>
            
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2012</h2>
                </div>
                <div>
                	<ul>
                		<li>Palmetto Regional - Engineering Inspiration Award</li>
                	</ul>
                </div>
            </div>   
                   
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2011</h2>
                </div>
                <div>
                	<ul>
                		<li>NC Regional – Industrial Design Award</li>
                		<li>NC Regional 3rd Place Overall</li>
                		<li>NC RegionalSemi-Finalist</li>
                		<li>NC Regional &#35;2 Seeded Team in qualifying matches</li>
                	</ul>
                </div>
            </div>
            
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2010</h2>
                </div>
                <div>
                	<ul>
                		<li>Palmetto Regional - Chairman's Award</li>
                		<li>Palmetto Regional Excellence in Design Animation Award</li>
                		<li>Palmetto Regional Controls Innovation Award</li>
                	</ul>
                </div>
            </div> 
                        <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2009</h2>
                </div>
                <div>
                	<ul>
                		<li>Peachtree Regional Finalist</li>
                		<li>General Motors Industrial Design Award</li>
                		<li>2nd Place Overall</li>
                		<li>Palmetto Regional 6th Place Overall</li>
                		<li>&#35;2 Seeded Team in Qualifying matches</li>
                		<li>FRC Website Excellence Award</li>
                		<li>FRC National Safety Animation Award</li>
                	</ul>
                </div>
            </div>
            
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2008</h2>
                </div>
                <div>
                	<ul>
                		<li>SC Regional Finalist</li>
                		<li>SC KPC&amp;B Entrepreneurship</li>
                		<li>SC Motorola Quality Award</li>
                		<li>SC Website Award</li>
                		<li>FL Regional Finalist</li>
                		<li>SC Regional Finalist</li>
                	</ul>
                </div>
            </div>   
                   
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2007</h2>
                </div>
                <div>
                	<ul>
                		<li>SC J&amp;J Sportsmanship</li>
                		<li>SC UL Industrial Safety Award</li>
                		<li>SC Regional Champion</li>
                		<li>FL KPC&amp;B Entrepreneurship</li>
                		<li>FL Autodesk Visualization Award</li>
                	</ul>
                </div>
            </div>
            
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2006</h2>
                </div>
                <div>
                	<ul>
                		<li>FL Imagery</li>
                		<li>SC Autodesk Visualization Award</li>
                		<li>SC J&amp;J Sportsmanship</li>
                		<li>CMP Autodesk Inventor Award - Hon Mention</li>
                	</ul>
                </div>
            </div> 
            
                        <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2005</h2>
                </div>
                <div>
                	<ul>
                		<li>SC J&amp;J Sportsmanship</li>
                		<li>SC Safety Award</li>
                		<li>SC Regional Chairman's Award</li>
                		<li>FL Engineering Inspiration Award</li>
                		<li>FL Autodesk Visualization Award</li>
                	</ul>
                </div>
            </div>
            
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2004</h2>
                </div>
                <div>
                	<ul>
                		<li>SC Autodesk Award for Visualization</li>
                		<li>CMP Autodesk Inventor Award</li>
                		<li>SC Regional Chairman's Award</li>
                	</ul>
                </div>
            </div>   
                   
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2003</h2>
                </div>
                <div>
                	<ul>
                		<li>FL Engineering Inspiration Award</li>
                		<li>FL Website Design Award</li>
                		<li>FL Autodesk Award for Visualization</li>
                	</ul>
                </div>
            </div>
            
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2002</h2>
                </div>
                <div>
                	<ul>
                		<li>FL Regional Chairman's Award</li>
                		<li>FL Judge's Award</li>
                	</ul>
                </div>
            </div> 
            
            <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2001</h2>
                </div>
                <div>
                	<ul>
                		<li>FL Imagery</li>
                		<li>FL Leadership in Controls</li>
                		<li>FL Incredible Play of the Day</li>
                		<li>FL &#35;1 Seed</li>
                		<li>FL Finalist</li>
                	</ul>
                </div>
            </div> 
            
                        <div class="well responsive col-md-3 col-sm-6 col-xs-12">
                <div>
                	<h2>2000</h2>
                </div>
                <div>
                	<ul>
                		<li>FL Rookie All-Star Award</li>
                		<li>FL J&amp;J Sportsmanship</li>
                		<li>FL Finalist</li>
                	</ul>
                </div>
            </div> 
</div>
        </div>
        </div>