<% layout('layout') -%>
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About <small>It's Nice to Meet You!</small></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/750x450">
    </div>
    <div class="col-md-6">
      <h2>Who is FIRST Team 342?</h2>
      <p>FIRST Team 342, founded by Mike Bryan of Robert Bosch in North Charleston, SC, has competed in the FRC since 2000. The team has grown over the years and so has its support. FIRST FRC Robotic team, established as a partnership between local high schools, home schools, private schools, college, local government, state government, federal government, industries, and local businesses such as Trident Technical College, Dorchester County Council, Dorchester County Career School, South Carolina State Department of Education, BAE Systems, SPAWAR and the Robert Bosch Corporation.</p>
      <p>The other local schools supported by Team 342 and involved in FIRST FRC are  Summerville HS, Ashley Ridge HS, Woodland HS, Dorchester Career School, Cane Bay HS, West Ashley HS, Home School, Dorchester Academy, Garrett Academy, Military Magnet, Northside Christian School, Cathedral Academy and Pinewood Preparatory School.  The team has more female members and mentors than in the past as well as representation from various ethnicities. True to the vision of FIRST Team 342 also involves special needs students in making promotional material for the team and even being members on the team.</p>
      <p>Team 342 is located in North Charleston, SC and has close to forty members from the three counties. The team is comprised of sub-teams such as mechanical engineering, electrical engineering, controls, animation, inventor, and communications. Sub-teams either meet at the Robert Bosch manufacturing plant or at BAE Systems, both located in North Charleston. Employees from Bosch, BAE Systems, SPAWAR Systems Center Atlantic and and other local busineses serve as mentors for the team. More information on each sub team can be found below. We will continue to push towards inclusion of all races, gender, and abilities as we continue to share FIRST's message with our community.</p>
    </div>

  <div class="row">

    <div class="col-md-12">
      <h2>Vision Statement</h2>
      <p>Our vision is to grow long-term partnerships between schools, colleges, industries, businesses, and government agencies to develop and implement strategies for strong economic development for our community and state through targeted academic and skill training programs.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Mission Statement:</h2>
      <p>The purpose of the FIRST Robotics Team 342 is to provide team members the opportunity to enhance their skills, knowledge and experience in the science and technology career arena through a structured, high-quality learning pathway that produces products that can compete on a global level.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Motto:</h2>
      <p>“Take the Message Farther” – we want every student to have the opportunity in the Lowcountry to be involved with FIRST Robotics.</p>
    </div>
  </div>
</div>