<div class="container">
  <hr>
  <footer>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
			<a href="http://www.bosch.us/" target="_blank"><img class="img-responsive img-customer" src="/images/bosch.png"></a>
      </div>
	</div>    
   <div class="row im-centered">
		<div class="col-md-2 col-sm-4 col-xs-4">
         <a href="http://www.baesystems.com/" target="_blank"><img class="img-responsive img-customer" src="/images/baesystemslogo.png"></a>
      </div>
      
      <div class="col-md-2 col-sm-4 col-xs-4">
      	<a href="http://www.public.navy.mil/spawar/Atlantic/Pages/Home.aspx‎" target="_blank"><img class="img-responsive img-customer" src="/images/SSCATlantic_logo.png"></a>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-4">
         <a href="http://www.dorchestercounty.net" target="_blank"><img class="img-responsive img-customer" src="/images/dorchester_logo.png"></a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4">
         <a href="http://www.dorchester2.k12.sc.us" target="_blank"><img class="img-responsive img-customer" src="/images/dd2logo.png"></a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4">
         <a href="http://charlestonhospitalitygroup.com/" target="_blank"><img class="img-responsive img-customer" src="/images/logo_B.png"></a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4">
         <a href="http://www.phillipsindsvc.com" target="_blank"><img class="img-responsive img-customer" src="/images/Phillips_logo.png"></a>
      </div>      
   </div>
	<div class="row">
      <div class="col-lg-12">
        <p> &copy; FRC Team 342 - 2014</p>
      </div>
	</div>
  </footer>
</div>