<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <a class="navbar-brand" href="/"><img src="/images/firstlogo.png" alt="FRC logo" /> <em>FIRST</em>  Team 342</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about">About Team 342</a></li>
            <li><a href="/mentors">Mentors</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="/subteams"><i class="fa fa-users"></i> Subteams</a></li>
        <li class="menu-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> Schedules <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/schedules/chairmans"><i class="fa fa-trophy"></i> Chairmans</a></li>
            <li><a href="/schedules/electrical"><i class="fa fa-bolt"></i> Electrical</a></li>
            <li><a href="/schedules/mechanical"><i class="fa fa-wrench"></i> Mechanical</a></li>
            <li><a href="/schedules/programming"><i class="fa fa-code-fork"></i> Programming</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="/blog"><i class="fa fa-pencil"></i> Blog</a></li>
      </ul>
    </div>
  </div>
</nav>